:root {
    --color-bg: #171717;
    --color-bg-secondary: rgb(50, 49, 49);
    --primary-color: #f0f0f0;
    /* --secondary-color: rgb(244, 67, 54); */
    --secondary-color:rgb(197,90,36);
   /* --gradient-color: linear-gradient(161deg, rgba(244, 67, 54, 1) 0%, rgba(244, 67, 54, 1) 50%, rgba(238, 176, 130, 1) 100%); */
    --gradient-color: linear-gradient(144deg, rgba(197, 90, 36, 1) 0%, rgba(255, 134, 19, 1) 100%);
    --font-family:'Kalnia', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: var(--color-bg);
    color: var(--primary-color);
    overflow-x: hidden;
    letter-spacing: 2px;
}
a{
    color: unset;
    text-decoration: none;
}
li{
  list-style: none;
}
.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
margin: 4rem 6rem;
}
h2{
  text-align: center;
  color: var(--secondary-color);
  font-size: 3rem;
  margin-bottom: 3rem;
}
@media (min-width: 551px) and (max-width: 969px) {
    .section__padding {
      padding: 4rem;
    }
    .section__margin {
      margin: 4rem;
    }
  }
  
@media (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
    .section__margin {
      margin: 4rem 2rem;
    } 
   
  }